@model CarInsurance.DataAccessV3.ViewModels.Broker.AvailableCoversViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="container">
    <h3>List of available covers to create / Edit</h3>
    <hr />
    <div class="row">
        @foreach (var coverType in Model.ListOfAdditionalCoverDetails)
        {
            <form method="get" asp-area="broker" asp-controller="cover" asp-action="create">
                <div class="col-md-4">
                    <div class="card" style="width:350px">
                        <img class="card-img-top" src="@coverType.ImageURL" width="300" height="200">
                        <div class="card-body">
                            <h4 class="card-title">@coverType.Name</h4>
                            <p class="card-text">Some example text.</p>

                            @if (!Model.ListOfCoversFromDb.Count.Equals(0))
                            {
                                if (Model.ListOfCoversFromDb.Any(c => c.Type.Equals(coverType.Name)))
                                {
                                    <a class="btn btn-outline-primary" asp-area="broker" asp-controller="cover" asp-action="edit" asp-route-coverType="@coverType.Name">Edit @coverType.Name cover</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-success" asp-area="broker" asp-controller="cover" asp-action="create" asp-route-coverType="@coverType.Name">Create @coverType.Name cover</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
